body {
  font-family: sans-serif;
}
h1 {
  text-align: center;
  width: 300px;
}
p {
  margin-bottom: 5px;
}
input[type="text"] {
  padding: 5px;
  margin-right: 10px;
}
button {
  padding: 5px 10px;
  margin-right: 10px;
}
#result {
  margin-top: 10px;
  font-weight: bold;
}
.en img {
  border-radius: 10px;
}
h1 {
  position: relative;
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #454545;
}

h1:after {
  position: absolute;
  content: "";
  left: -7px;
  top: -7px;
  border-width: 0 0 15px 15px;
  border-style: solid;
  border-color: #fff #fff #a8d4ff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
.parent {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.banira {
  border-radius: 50%;
  width: 80px;
}
.bubble {
  position: relative;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-left: 20px;
  max-width: 200px;
}
.bubble::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;

  border-color: transparent #ccc transparent transparent;
}
